<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookclub | Wish List</title>
<style>
tbody, td, tfoot, th, thead, tr {
  border: 1px solid black !important;
  border-collapse: collapse;
}
</style>
    <!--  Bootstrap StyleSheet CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="py-5 container" style="width: 50%;">
        <h2 class="text-center">My Wish List</h2>

        <br />

        <p class="text-center">
            <a href="/wishlist/new" th:href="@{/wishlist/new}" class="btn btn-outline-secondary text-center">New Wish List Item</a>
        </p>
        <div class="text-center" style="display:grid">
          <table>
            <tr>
              <th>ISBN</th>
              <th>Title</th>
              <th>Functions</th>
            </tr>
            <tr th:each="wishItem : ${wishlist}">
              <td th:text="${wishItem.isbn}"></td>
              <td th:text="${wishItem.title}"></td>
              <td><a href="/wishlist/${book.id}" >Edit</a> | <a href="/wishlist/remove/${book.id}">Delete</a></td>
            </tr>
          <table>
        </div>
    </div>

    <div th:insert="~{fragments/scriptFooter :: scriptFooter}"></div>
</body>
</html>